
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
.typewriter {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .0em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
@keyframes typing {
    from { width: 0% }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent}
    50% { border-color: red }
  }
.half-width{
    float: left;
    width: 40%;
    margin: 4%;
    padding: 1%;
}
.half-width img{
    width: 100%;
    transition: 1s;
    cursor: pointer;
}
.half-width img:hover{
    transform: scale(1.3);
    z-index: 2;

}
.head{
    background-image: url(images/header-bg.png);
}
.my-work{
    background-image: url(./images/latest-work-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.Biography{
    background-image: url(./images/biography-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
section{
    height: 500px;
}


.button{
    padding: 10px 20px;
    border-radius: 5px;
	display: inline-block;
	text-decoration: none; 
	transition:all 0.7s ease-out 0s;
	background-size:200%;
	background-image: linear-gradient(to left, yellow 50%, #ff0202 50%); 
	color: #ffffff;
}

.button:hover { 
	background-position: -100% 100%;
    color:black;
	}

/* .button{
    text-decoration: none;
    display: inline block;
    background-color: #ff0044;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    width: 300px;
    height: 100px;
    box-shadow: inset 0 0 0 0 transparent;
    transition:all 0.2s ease-out 0s;
    cursor: pointer;
}
.button:hover{
    box-shadow: inset 300px 0 0 0 #f9e506;
    color: black;
} */
.work-width{
    float: right;
    clear: left;
    width: 30%;
    margin: 0%;
    padding: 0%;
    transition: 1s;
}
.work-width img{   
    width: 80%;
    cursor: pointer;
}
.work-width:hover{
    transform: scale(1.3);
    z-index: 2;
}
.latest-work{
    text-align: center;
    clear: both;
    width: 700;
    padding-bottom: 3%;
}
.client-say{
    text-align: center;
    clear: both;
    padding-bottom: 5%;
}
.founder{
    text-align: center;
    padding-bottom: 1%;
}
.lorem{
    text-align: center;
    margin: 6%;
}
.contuct-button{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(45deg, salmon, tomato);
    padding: 2px 5px;
    border-radius: 10px;
    margin: 5%;
    color: white;
    width: 700;
}
.footer{
    text-align: center;
}
