

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
.hilight-name{
    color: hotpink;
}
.half-width{
    float: left;
    width: 40%;
    margin: 4%;
    padding: 1%;
}
.half-width img{
    width: 100%;
}
.head{
    background-image: url(images/header-bg.png);
}
.my-work{
    background-image: url(./images/latest-work-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.Biography{
    background-image: url(./images/biography-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
section{
    height: 500px;
}

.button{
    text-decoration: none;
    background-color: rgb(255, 0, 68);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    width: 300px;
    height: 100px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out .7s;
}
.button:hover{
    box-shadow: inset 300px 0 0 0 #f9e506;
    cursor: pointer;
    color: black;
}
.work-width{
    float: right;
    clear: left;
    width: 30%;
    margin: 0%;
    padding: 0%;
}
.work-width img{   
    width: 80%;
}
.latest-work{
    text-align: center;
    clear: both;
    width: 700;
    padding-bottom: 3%;
}
.client-say{
    text-align: center;
    clear: both;
    padding-bottom: 5%;
}
.founder{
    text-align: center;
    padding-bottom: 1%;
}
.lorem{
    text-align: center;
    margin: 6%;
}
.contuct-button{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(45deg, salmon, tomato);
    padding: 2px 5px;
    border-radius: 10px;
    margin: 5%;
    color: white;
    width: 700;
}
.footer{
    text-align: center;
}